body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25;
    text-align: center;
    color: blue;
}

<<<<<<< HEAD
.cabecera {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
=======
footer {
>>>>>>> cabecera
    color: red;
}